body {
    background-color: midnightblue;
    color: mintcream;
}

body #subtitulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: rgb(30, 83, 5)
}

body #contacto {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #000;
    #nombre {
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        color: grey;
    }
    #apellido {
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        color: grey;
    }
    #mail {
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        color: grey;
    }
    #rut {
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        color: grey;
    }
    #telefono {
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        color: grey;
    }
}