body {
    background-color: rgb(94, 152, 199);
}

body #titulo {
    font-size: 40px;
    color: maroon;
}

body #formulario {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: darkblue;
    list-style: none;
    #pregunta {
        font-size: 18px;
        color: maroon;
    }
}